@import '~antd/dist/antd.css';
#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
.brand{
    padding: 20px 20px;
 
}
.avatar{
    float: right;
}
.product-manage{
    width: 100%;

}
.add-product {
    float: right;
}
.edit-product{
    float: right;
}